<a href="https://colab.research.google.com/github/Abhinav4518/Abhinav4518/blob/main/ColabBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

In [2]:
print('Machine Learning')

Machine Learning

In [4]:
print("Machine Learning" + " Project");

Machine Learning Project

In [5]:
print(8)

8

In [6]:
print(8+5)

13

#Basic Data Types

In [7]:
type(8)

int

In [8]:
type(5.3)

float

In [10]:
type("english")

str

#Constants and Variables

In [11]:
superhero="Iron Man"
print(superhero)

Iron Man

In [12]:
superhero="Captain America"
print(superhero)

Captain America

In [13]:
hero1,hero2,hero3="Iron Man ",17,"YouTube"
print(hero1);
print(hero2);
print(hero3);

Iron Man
17
YouTube

In [14]:
x=y=z=23;
print(x)
print(y)
print(z)

23
23
23

#Input

In [17]:
number_1=input("Enter the first Number : ")
number_2=input("Enter the second Number : ");
sum=number_1+number_2
print(sum);

Enter the first Number : 10
Enter the second Number : 15
1015

In [18]:
number_1=int(input("Enter the first Number : "))
number_2=int(input("Enter the second Number : "));
sum=number_1+number_2
print(sum);

Enter the first Number : 19
Enter the second Number : 14
33

In [19]:
#Changing the data type
num=5
print(float(num));

5.0

#All Data Type Description

In [20]:
#Integers
a=8
print(8)

8

In [21]:
type(a)

int

In [22]:
#float
b=2.3
print(b)
type(b)

2.3

float

In [24]:
#complex
c=1+3j
print(c)
type(c)

(1+3j)

complex

#Conversion of Data Type

In [26]:
#int to float
x=10
print(x)
type(x)
y=float(x)
print(y)
type(y)

10
10.0

float

In [28]:
#float to int
x=5.88
print(x)
y=int(x)
print(y)

5.88
5

In [30]:
#Boolean
a=True
print(a)
b=False
print(b)

True
False

In [31]:
a=7<3
print(a)
type(a)

False

bool

In [32]:
#String
print('Machine Learning');

Machine Learning

In [33]:
my_String="Machine Learning"
print(my_String)
type(my_String)

Machine Learning

str

In [36]:
#printing multiple times
print("Hello " *5)

Hello Hello Hello Hello Hello

In [38]:
#Slicing
my_string="Programming";
print(my_string[1:5]);
#it will print from 1 to 4 only

rogr

In [40]:
#step
print(my_string[0:10:2]);
#every second letter will be removed

Pormi

In [41]:
#string Concatenation
word_1='Machine'
word_2='Learning'
print(word_1+word_2);

MachineLearning

#Mutable Objects: 1)List 2)Set 3)Dictionary

In [43]:
#list should be included in the square brackets
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [44]:
my_list=[2,3,1.8,'English',True]
print(my_list);

[2, 3, 1.8, 'English', True]

In [47]:
#List are changable
#add elements
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [48]:
#Print Elements using the index
print(my_list[0])

2

In [49]:
#List allows duplicate values where as Set doesn't
list_1=[1,2,3,4,5,12,2,3]
print(list_1)
print(len(list_1))

[1, 2, 3, 4, 5, 12, 2, 3]
8

In [50]:
#initiating an empty list
list_2=[]
print(list_2)

[]

In [51]:
list_2.append(6);
print(list_2)

[6]

In [53]:
#delete
list_2=[1, 2, 3, 4, 5, 12, 2, 3]
print(list_2)
del list_2[3]
print(list_2)

[1, 2, 3, 4, 5, 12, 2, 3]
[1, 2, 3, 5, 12, 2, 3]

In [54]:
#join two lists
list_3=[1,2,3,4]
list_4=[2,5,6,7]
list_5=list_3+list_4
print(list_5)

[1, 2, 3, 4, 2, 5, 6, 7]

#Tuple

In [55]:
tuple_1=(2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [56]:
tuple_2=(1,2,3,4.5,'Machine Learning',False);
print(tuple_2)

(1, 2, 3, 4.5, 'Machine Learning', False)

In [57]:
#converting a list to a tuple
my_list=[2,3,4,5]
print(my_list);
my_tuple=tuple(my_list)
print(my_tuple);

[2, 3, 4, 5]
(2, 3, 4, 5)

In [58]:
print(my_tuple[0])
print(my_tuple[1])

2
3

In [ ]:
#Tuple is immutable that means we cannot change the elements like append or delete is not applicable.

#Set

In [59]:
my_set={1,2,3,4,5}
print(my_set)
type(my_set);
#Sets does not support the indexing

{1, 2, 3, 4, 5}

In [61]:
#convert a list to a set
list_5=[4,5,6,7,8,7]
x=set(list_5)
print(x)

{4, 5, 6, 7, 8}

#Dictionary

In [62]:
#Dictionary is key value pair
my_dictionary={'name':'Abhinav Kumar Jha','Age':20,'Country':'India'}
print(my_dictionary)

{'name': 'Abhinav Kumar Jha', 'Age': 20, 'Country': 'India'}

In [63]:
print(my_dictionary['name'])
print(my_dictionary['Age'])
print(my_dictionary['Country'])

Abhinav Kumar Jha
20
India

In [64]:
#Dictionary Does not allow Duplicate values
dictionary_2={'name':'Abhinav Kumar Jha','Age':20,'Country':'India','Country':'India'}
print(dictionary_2)

{'name': 'Abhinav Kumar Jha', 'Age': 20, 'Country': 'India'}

#Operators

1.Arithmetic

In [66]:
num_1=20
num_2=10
#addition
sum=num_1+num_2;
print('sum = ',sum);
#subtraction
diff=num_1-num_2
print('diff = ',diff)
#multiplication
product=num_1*num_2;
print('Product = ',product)
#division
quo=num_1/num_2;
print('quo = ',quo);
#expon
exp=num_1**num_2;
print('exp = ',exp)
#modulus
mod=num_1%num_2
print('Remainder = ',mod)

sum =  30
diff =  10
Product =  200
quo =  2.0
exp =  10240000000000
Remainder =  0

2.Assignment Operators

In [1]:
a=5
print(a);
a+=5;
print(a);
b=5;
print(b);
b-=5;
print(b);

5
10
5
0

3.Comparison Operator

In [4]:
a=5
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
False
True

4.Logical

In [7]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>20 and a>5))

False
True
True

5.Identity

In [9]:
x=5
y=5
print(x is y)
x=10
y=15
print(x is not y)

True
True

6.MemberShip operation
in and not in

In [11]:
a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b in c)
print (a not in c)

True
False
False

#If Else

In [12]:
a=30
b=50
if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [13]:
a=int(input('Enter the first number'));
b=int(input('Enter the second number'));
if(a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

Enter the first number50
Enter the second number34
a is the greatest number

In [14]:
a=15
b=25
c=30

if(b<a>c):
  print('a is the greatest number')
elif(a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest element')

c is the greatest element

In [15]:
a=20
b=40
c=60
if(a>b):
  if(a>c):
    print('a is the greatest number')
  else:
    print('c is the greatest number')
else:
  if(b>c):
    print('b is the greatest number')
  else:
    print('c is the greatest number');

c is the greatest number

#Loops

In [19]:
laptop1=int(input('Enter the price of the laptop : '));
for i in range(5):
  laptop_price=int(input('Enter the price of the laptop : '));

Enter the price of the laptop : 500000
Enter the price of the laptop : 120000
Enter the price of the laptop : 300000
Enter the price of the laptop : 2300000
Enter the price of the laptop : 2300000
Enter the price of the laptop : 2398

In [23]:
numbers=[50,100,150,200]
for i in range(4):
  print(numbers[i])
#or
for i in numbers:
  print(i)

50
100
150
200
50
100
150
200

In [27]:
#While
i=0;
while i<10:
  print(i);
  i+=1;

0
1
2
3
4
5
6
7
8
9

In [28]:
i=5

while i<3:
  print(i);
  i+=1;

#Function

In [31]:
#Factorial of a Number
number=int(input('Enter a number to find its factorial '))
factorial=1;
if number==0:
  print('The factorial of 0 is 1 ');
else:
  for i in range(1,number+1):#1 to number
    factorial=factorial*i
  print('The factorial of ',number, 'is ', factorial);

Enter a number to find its factorial 5
The factorial of  5 is  120

In [32]:
#Factorial Function
def factorial_val(num):
  factorial=1
  if num==0:
    return factorial
  else:
    for i in range(1,number+1):
      factorial=factorial*i;
    return factorial

In [33]:
print(factorial_val(5));

120